.jefao-main-content {
    display: flex;
    padding-top: 8px;
}
.jefao-agenda{
    display: flex;
    justify-content: space-around;
}
.jefao-bg-login-image {
    background: url("assets/imgs/login.webp") center;
    background-size: cover;
}
.jefao-bg-register-image {
    background: url("./assets/imgs/register.jpeg") center;
    background-size: cover;
}

.jefao-bg-password-image {
    background: url("/assets/imgs/restore-password.jpeg") center;
    background-size: cover;
}
